.wp-block-table{
	@include media-breakpoint-down(xl){
		overflow:visible;
	}
}
table{
	tr{
		> td{
			&:first-child{
				@extend .pe-lg-8, .pe-0;
			}
			@include media-breakpoint-down(lg){
				@extend .mb-lg-0, .mb-3;
			}

		}

		@include media-breakpoint-down(md){
			display:flex;
			flex-direction:column;
		}
	}
	td{
		@extend .border-0;
		@extend .pt-0;
		vertical-align:top;
		h3{
			@extend .mb-1;
			@include media-breakpoint-down(lg){
				font-size:1.55rem!important;
			}
		}
	}
}